:root {
    --background: #f4ecd8;
    --text-primary: black;
}

[data-theme="dark"] {
    --background: black;
    --text-primary: white;
}

/* fondamento-regular - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: "Fondamento";
    font-style: normal;
    font-weight: 400;
    src: url("./assets/fonts/fondamento/fondamento-v20-latin-regular.woff2")
        format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

h1 {
    font-weight: normal;
}

body {
    color: var(--text-primary);
    margin: 0;
    /* filter: sepia(1); */
    background-color: var(--background);
    height: 100vh;
    font-family: "Fondamento", "Courier New", Courier, monospace;
}
