.home {
    display: flex;
    justify-content: center;
    align-items: center;
}

.pages-wrapper {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 36px;
}

.options {
    position: fixed;
    bottom: 24px;
    right: 24px;
    width: 100px;
    height: 100px;
}

.options img {
    width: 100%;
    height: 100%;
}
